interface/node_modules/
interface/Data/record/*
interface/config.json
*.swp
.*.swp
.key/
log/*
*/log
tmp
*.log
*/a.out
*.pem
ubuntu*
*/__pycache__
*/*.log
__pycache__
*/*/__pycache__
Data/*
Images/
.DS_Store
result
plot
